{% extends "base_generic.html" %}

{% block content %}
<h1>About...</h1>
<p></p>
<p>This website is created by:</p>

 <dl>
  <dt>Arjun Suresh</dt>
  <dd>- Current Global Public School student</dd>
  <dt>Rayhan Faizal</dt>
  <dd>- Former Global Public School student</dd>
  <dt>Arpan George Mathew</dt>
  <dd>- Current Global Public School student</dd>
  <dt>Kevin Thomas</dt>
  <dd>- Current Global Public School student</dd>
  <dt>Hafeez Muhammed</dt>
  <dd>- Current Global Public School student</dd>
</dl>
{% endblock %}
