{% extends "base_generic.html" %}

{% block content %}
<h1>About...</h1>
<p></p>
<p>This website is created by:</p>
<br>
 <div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Arjun Suresh</h2>
        <p class="title">Current Global Public School student</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Rayhan Faizel</h2>
        <p class="title">Former Global Public School student</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Arpan George Mathew</h2>
        <p class="title">Current Global Public School student</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Kevin Thomas</h2>
        <p class="title">Current Global Public School student</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Hafeez Muhammed</h2>
        <p class="title">Current Global Public School student</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
