{% extends "base_generic.html" %}

{% block content %}
<p></p>
<h2>Public functions hosted at Bodhi during Feb 1st 2021 to Jan 31st 2022...</h1>

<table>
  <tr>
    <th>Serian No.</th>
    <th>date</th>
    <th>program name</th>
    <th>Resource Perso</th>
    <th>Attendance</th>
  </tr>
  <tr>
    <td>1</td>
    <td>24/02/2021</td>
    <td><a href="https://www.w3schools.com/">ജനകീയ വികസന സെമിനാറും ക്വിസ്സും</a></td>
    <td>Dr. K R Prabhakaran</td>
    <td>14</td>
  </tr>
  <tr>
    <td>2</td>
    <td>28/02/2021</td>
    <td>പഞ്ചായത്തു തല ജനകീയ വികസന വിജ്ഞാനോത്സവും ക്വിസ്സും</td>
    <td>C R Prakashan, Panchyath President</td>
    <td>34</td>
  </tr>
  <tr>
    <td>3</td>
    <td>05/06/2021</td>
    <td>പ്രകൃതി ദിനം</td>
    <td>Leelamma Johnny</td>
    <td>17</td>
  </tr>
  <tr>
    <td>4</td>
    <td>19/06/2021</td>
    <td>വായനാദിനം</td>
    <td>Dr. K R Prabhakaran</td>
    <td>14</td>
  </tr>
  <tr>
    <td>5</td>
    <td>18/07/2021</td>
    <td>സ്ത്രീധനമെന്ന സാമൂഹിക വിപത്ത്</td>
    <td>Shyla Murali</td>
    <td>8</td>
  </tr>
  <tr>
    <td>6</td>
    <td>24/07/2021</td>
    <td>ലൈബ്രറി മന്ദിരം ഉദ്ഘാടനം</td>
    <td>Dr. K V Kunjikrishnan, State President, KSLC</td>
    <td>30</td>
  </tr>
  <tr>
    <td>7</td>
    <td>15/08/2021</td>
    <td>സ്വാതന്ത്രദിനാഘോഷങ്ങൾ</td>
    <td>Dr. K R Prabhakaran</td>
    <td>15</td>
  </tr>
  <tr>
    <td>8</td>
    <td>02/10/2021</td>
    <td>ഗാന്ധിജയന്തി</td>
    <td>Dr. P Soorya</td>
    <td>5</td>
  </tr>
  <tr>
    <td>9</td>
    <td>16/11/2021</td>
    <td>നവകേരള സദസ്സ് </td>
    <td>A K Das</td>
    <td>20</td>
  </tr>
  <tr>
    <td>10</td>
    <td>04/12/2021</td>
    <td>കുട്ടികളുടെ കവിതാലാപനം</td>
    <td>Seema Prakasan</td>
    <td>15</td>
  </tr>
  <tr>
    <td>11</td>
    <td>26/12/2021</td>
    <td>ലഹരി വിമുക്തി വാരാഘോഷം</td>
    <td>Dr. K R Prabhakaran</td>
    <td>12</td>
  </tr>
  <tr>
    <td>12</td>
    <td>02/01/2022</td>
    <td>സ്ത്രീകൾ നേരിടുന്ന വെല്ലുവിളികൾ</td>
    <td>Leelamma Johnny</td>
    <td>7</td>
  </tr>
  <tr>
    <td>13</td>
    <td>09/01/2022</td>
    <td>വിദ്യാഭ്യാസം കച്ചവടമാകുമ്പോൾ</td>
    <td>Beena P Nair</td>
    <td>10</td>
  </tr>
  <tr>
    <td>14</td>
    <td>16/01/2022</td>
    <td>ഭഗവത് ഗീത ശില്പശാല</td>
    <td>Dr. K R Prabhakaran</td>
    <td>10</td>
  </tr>
  <tr>
    <td>15</td>
    <td>21/01/2022</td>
    <td><a href="https://photos.app.goo.gl/JGQffoDQkBLdRCRY9/">ശിൽപ്പകല ഒരു പരിപ്രേക്ഷ്യം</a></td>
    <td>Sunil Thiruvaniyoor</td>
    <td>4</td>
  </tr>
</table>

{% endblock %}
