{% extends "base_generic.html" %}

{% block content %}
<p></p>
<h2>Public functions hosted at Bodhi during Feb 1st 2021 to Jan 31st 2022...</h1>

<table>
  <tr>
    <th>Serial No.</th>
    <th>Date of Programme</th>
    <th>Program Description</th>
    <th>Resource Person</th>
    <th>Attendance</th>
  </tr>
  <tr>
    <td>1</td>
    <td>24/02/2021</td>
    <td><a href="https://photos.app.goo.gl/AKfrpFMEjdBHtaKz6">ജനകീയ വികസന സെമിനാറും ക്വിസ്സും</a></td>
    <td>Dr. K R Prabhakaran</td>
    <td>14</td>
  </tr>
  <tr>
    <td>2</td>
    <td>28/02/2021</td>
    <td><a href="https://photos.app.goo.gl/hWqCd147FHrofUk19">പഞ്ചായത്തു തല ജനകീയ വികസന വിജ്ഞാനോത്സവും ക്വിസ്സും</a></td>
    <td></td>
    <td>34</td>
  </tr>
  <tr>
    <td>3</td>
    <td>19/06/2021</td>
    <td><a href="https://photos.app.goo.gl/JgrZFBcu3whz7jQ29">വായനാദിനം </a></td>
    <td>Dr. K R Prabhakaran</td>
    <td>14</td>
  </tr>
  <tr>
    <td>4</td>
    <td>18/07/2021</td>
    <td><a href="https://photos.app.goo.gl/G1vYdcNysoPfi6wZ8">സ്ത്രീധനമെന്ന സാമൂഹിക വിപത്ത്</a></td>
    <td></td>
    <td>8</td>
  </tr>
  <tr>
    <td>5</td>
    <td>24/07/2021</td>
    <td><a href="https://photos.app.goo.gl/uJjaJ6PEn69t6j8c7">ലൈബ്രറി മന്ദിരം ഉദ്ഘാടനം</a></td>
    <td>Dr. K V Kunjikrishnan, State President, KSLC   </td>
    <td>30</td>
  </tr>
  <tr>
    <td>6</td>
    <td>15/08/2021</td>
    <td><a href="https://photos.app.goo.gl/wXrb3EPKkZ4uMJ3W8">സ്വാതന്ത്രദിനാഘോഷങ്ങൾ</a></td>
    <td>Dr. K R Prabhakaran</td>
    <td>15</td>
  </tr>
  <tr>
    <td>7</td>
    <td>04/12/2021</td>
    <td><a href="https://photos.app.goo.gl/WwV7Qg5zJ5m87x5i9"> കുട്ടികളുടെ കവിതാലാപനം</a></td>
    <td>Dr. K R Prabhakaran</td>
    <td>15</td>
  </tr>
  <tr>
    <td>8</td>
    <td>26/12/2021</td>
    <td><a href="https://photos.app.goo.gl/E4rxVD1MwZYUzQ686">എന്റെ  സിനിമാനുഭവങ്ങൾ</a></td>
    <td></td>
    <td>12</td>
  </tr>
  <tr>
    <td>9</td>
    <td>02/01/2022</td>
    <td><a href="https://photos.app.goo.gl/iTUYUytjxnoutZoa6">സ്ത്രീകൾ നേരിടുന്ന വെല്ലുവിളികൾ</a></td>
    <td></td>
    <td>7</td>
  </tr>
  <tr>
    <td>10</td>
    <td>09/01/2022</td>
    <td><a href="https://photos.app.goo.gl/4QJGhGwSjC79qtrW9">വിദ്യാഭ്യാസം കച്ചവടമാകുമ്പോൾ</a></td>
    <td></td>
    <td>10</td>
  </tr>
  <tr>
    <td>11</td>
    <td>21/01/2022</td>
    <td><a href="https://photos.app.goo.gl/JGQffoDQkBLdRCRY9/">ശിൽപ്പകല ഒരു പരിപ്രേക്ഷ്യം</a></td>
    <td></td>
    <td>6</td>
  </tr>
</table>

<p></p>
<h2>ലഹരി വിമുക്തി വാരാഘോഷം</h2>

<table>
  <tr>
    <th>Serial No.</th>
    <th>Date of Programme</th>
    <th>Program Description</th>
    <th>Resource Person</th>
    <th>Attendance</th>
  </tr>
  <tr>
    <td>1</td>
    <td>26/12/2021</td>
    <td><a href="https://photos.app.goo.gl/NS1eGnEjPURX9JMs5">ലഹരി വിമുക്തി വാരാഘോഷം</a></td>
    <td>Dr. K R Prabhakaran</td>
    <td>12</td>
  </tr>
</table>
{% endblock %}
