{% extends "base_generic.html" %}

{% block content %}
<h1>ബോധി ഗ്രാമീണ വായനശാല  </h1>
<div class="bodhi" style="width:750px">
    <img src="/static/images/bodhi.jpg" width="750" height="300"/>
    <div class="caption"><p> ചെമ്മനാട് ശ്രീകൃഷ്ണ ക്ഷേത്രത്തിനടുത്താണ് ബോധി ലൈബ്രറി സ്ഥിതി ചെയ്യുന്നത്. 2020 ജൂലൈയിൽ ഉദ്ഘാടനം ചെയ്യപ്പെട്ട ബോധിയിൽ നിലവിൽ 5100-ലധികം പുസ്തകങ്ങളുണ്ട്. ബോധി പതിവായി സാമൂഹിക സ്കാരിക പ്രവർത്തനങ്ങൾ നടത്തുന്നു.</p> ബോധി ലൈബ്രറിയിൽ ഉള്ള 5100 ൽ പരം പുസ്തകങ്ങളിൽ ഓൺലൈനിൽ {{ num_books }} പുസ്തകങ്ങളുടെ വിവരങ്ങൾ ({{ num_authors }} പേര് എഴുതിയത്) ഇപ്പോൾ ലഭ്യമാണ്. ഈ പുസ്തകങ്ങളുടെ {{ num_instances }} കോപ്പികൾ ലൈബ്രറിയിൽ ഉള്ളതിൽ {{ num_instances_available }} എണ്ണം വിതരണത്തിന് ലഭ്യമാണ്. നിങ്ങൾ ഈ പേജ് {{ num_visits }} തവണ സന്ദർശിച്ചു.</div>
</div>

<br>
{% endblock %}
